@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  cursor: none;
  font-family: Poppins;
}

.radial1 {
  background: radial-gradient(circle at 40%, #151f2a, #4e342f);
}

.radial2 {
  background: radial-gradient(circle at 60%, #4e342f, #151f2a);
}

.cursor-dot {
  width: 15px;
  height: 15px;
  background-color: #008080;
}

.debug {
  border: 3px solid palevioletred;
  box-sizing: border-box;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
