@import '../style/colors.scss';

.resume-button {
  border: 2px solid $main-text-color;
  border-radius: 5px;
  background-color: inherit;
  color: $main-text-color;
  font-size: 16px;
  padding: 5px;
}

.resume-button:hover {
  cursor: pointer;
}