.App {
  text-align: center;
}

.thumbnail_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnail_box {
  width: 50%;
  background-color: aqua;
  border: 3px solid red;
  box-sizing: border-box;
}
